* {
    border: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    border-radius: 25px;
    margin: 10px auto;
    width: 850px;
    flex-shrink: 0;
}

header img {
    height: 150px;
    width: 150px;
    padding-left: 10px;
}

.heading div {
    height: 100px;
    width: 80px;
}

.cyan {
    background-color: #002966;
}

.blue {
    background-color: #00388C;
}

.magenta {
    background-color: #0047B3;
}

.red {
    background-color: #004DBF;
}

.yellow {
    background-color: #0057D7;
}

.links .words {
    font-weight: bold;
    font-size: 18px;
}

.links .colors {
    font-weight: lighter;
    font-size: 14px;
    opacity: .75;
}

.heading .links {
    padding: 10px;
}

.heading {
    display: flex;
    background-color: white;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    opacity: .5;
}